<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jch.test2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MainApplication">
        <!-- launcher test2 独立运行时可用，做插件时，没有作用 -->
        <activity
            android:name="com.jch.plugin.launcher.Launcher"
            android:configChanges="screenSize|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="Launcher"
                android:value="com.jch.test.MainActivity"
                />
        </activity>
    </application>

</manifest>